DATABASE_URL="postgresql://Medisigna:MEDISIGNA-rtyujhgfdrty@187.127.117.35:5437/Medisigna"
BETTER_AUTH_SECRET="MEDISIGNA-rtyujhgfdrty"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_MAX_SIZE_MB="5"

PUSH_NOTIFICATION_PUBLIC_KEY=""
PUSH_NOTIFICATION_PRIVATE_KEY=""


CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
